.filters
{
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

}

#button
{
    display: flex;
    flex: 0 0 50%;
    align-self: center;
    justify-content: flex-end;
}

ul h2
{
    font-size: 16px;
    margin-bottom: 0px;
}

h3
{
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 0px;

}
h4
{
    margin-top: 0px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
}

ul ul
{
    list-style-type: none;
}

.locations
{
    order: -5;
    flex: 0 1 25%;
    border-right: 1px solid #DDDDDD;
}

.amenities
{
    order: -3;
    flex: 0 1 25%;
}

.container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 30px;
    padding: 0px;
}

p
{
    margin-left: 20px;
}

button:hover
{
    opacity:0.9;
}

button
{
    align-self: center;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    flex: 0 0 40%;
    border: None;
    border-radius: 4px;
}

.popover
{
    padding-left: 20px;
    position: relative;
    list-style-type: none;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    flex: 0 1 25%;
    z-index: 1;
}

.locations:hover .popover{display: block;}

.amenities:hover .popover{display: block;}